/* all */
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}
.p-color{
    color:#27272799;
}
.primary-btn{
    padding: 20px 40px;
    border-radius: 8px;
    background-color: #E55473;
    color: white;
    border: none;
    cursor: pointer;
}
.section{
    max-width: 2000px;
    max-height: 2000px;
    text-align: center;
    margin:150px;
}
/* banner */
header,.primary-bg{
    background-color: #E554731A;
    
}
.banner-container{
    padding: 25px 30px 0px 150px;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    height: 100vh;
    /* position: relative; */
    
}
.banner-text{
    max-width: 1200px;
}
.banner-title{
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 35px;
    margin-top: 5px;
    color: #272727;
}
.banner-description{
    margin-top: 0;
    margin-bottom: 35px;
}
.banner-img{
    width: 400px;
}
/* our-feature */
.feature-text{
    margin: 10px;
    padding: 10px;
}
.feature-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}
.feature-description{
    margin-top: 0;
    margin-bottom: 25px;
}
.feature-photo{
    display: flex;
    align-items: center;
    gap:30px;
    margin-left: 60px;
    margin-right: 60px;
}
.feature-img{
    box-shadow: 10px 10px 0px none;
    border-radius: 300px 300px 0px 0px;
    width: 314px;
    height: 338px;

}
.feature-img-1{
    background-color:#A7216226 ;
}
.feature-img-2{
    background-color:#0597A026 ;
}
.feature-img-3{
    background-color:#477D1126 ;
}
.feature-photo-description{
    margin-top: 20px;
    color: #272727;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-decoration: underline;
}
/* optional */
.optional-container{
    display: flex;
    justify-content: space-around;
    box-shadow: 10px 10px none;
    border-radius: 8px;
    border: none;
    background-color: #2727270D;
    padding: 50px;
    margin-left: 80px;
    margin-right: 50px;
}
/* hot deal */
.hot-container{
    padding: 30px 30px 0px 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
}
.hot-text{
    max-width: 1000px;
}
.hot-title{
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 35px;
    margin-top: 5px;
    color: #272727;
}
.hot-description{
    margin-top: 0;
    margin-bottom: 35px;
}

.hot-img{
    width: 300px;
}
.off{
    color: #E55473;
}
/* blog */
.blog-title{
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 35px;
    margin-top: 5px;
    color: #272727;

}
.blog-container{
    text-align: left;
    display: flex;
    justify-content: space-around;
    box-shadow: 10px 10px none;
    border-radius: 5px;
    border: none;
    background-color: #2a1d5ee7;
    padding: 100px;
    align-items: center;
}
.blog-img-1{
    width: 300px;
}
.blog-text{
    margin:10px 10px;
    padding: 20px;
}
.blog-description{
    color: #bdb5b5;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 34px;
}
/* social */
.social-text{
    margin: 10px;
    padding: 10px;
}
.insta{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}
.social-description{
    margin-top: 0;
    margin-bottom: 25px;
}
.social-photo{
    display: flex;
    align-items: center;
    gap:30px;
    margin-left: 80px;
    margin-right: 80px;

}
.social-img{
    width: 200px;;
}
/* box */
.box{
    background-image: url("./Flower Asset/Rectangle\ 9.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    margin-left: 160px;
}
.box-container{
    margin-left: 60px;
    margin-left: 60px;
    padding: 10px;
}
.box-form{
    display: flex;
    align-content: center;
    margin-left: 200px;
    margin-top: 30px;

}
.box-title{
    color: #272727;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 24px;
}
.box-description{
    margin-top: 0;
    margin-bottom: 25px;
}
.box-form input[type=text]{
    border-radius: 5px;
    background: #FFF;
    border: none;
    padding: 15px 100px;
    margin-right: 5px;
}
/* footer */
footer{
    background-color: black;
    color:white;
    margin-bottom: 0;
    padding: 60px;
    height: 160px;
}
.footer-container{
    margin: 10px;
    padding: 10px;
}
.footer-title{
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 24px;

}
.footer-description{
    margin-top: 0;
    margin-bottom: 25px;
}
.footer-cr{
    color: #FFFFFF66;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}
                                /*DONE BY FAZLE RIFAT*/